---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Blocks from '../blocks/Blocks.astro';
import { fetchPayloadData } from '../lib/payload';
import { fetchBlogs } from '../lib/fetchBlogs';
import Hero from '../components/Hero.astro';
import { fetchRecentBlogs } from '../lib/fetchRecentBlogs';
import FeaturedCard from '../components/FeaturedCard.astro'
import {fetchRemainingBlogs} from '../lib/fetchRemainingBlogs'
import BottomCards from '../components/BottomCards.astro'
import '../styles/globals.css';



const data = await fetchPayloadData();
const allBlogs = await fetchRecentBlogs()
let recentBlogs = allBlogs.docs.slice(0,3)
let remainingBlogs = allBlogs.docs.slice(3)
const blogs = await fetchBlogs()

---

<Layout title="Dev Blog h-dvh">
	<!-- placeholder navbar -->
	<div class="h-16 border-b-2">
		navbar
	</div>
	<main class=" grid grid-cols-1 md:grid-cols-6">
		<section class="containern min-h-fit gradient-bg md:col-span-6 p-4 md:px-16 lg:grid lg:grid-cols-6 lg:gap-6">
			<Hero heroHeading={data.heroHeading} heroSubHeading={data.heroSubHeading}/>
			<FeaturedCard featuredBlog={data.featuredBlog.slug} data={data.featuredBlog}/>
			<div class=" mt-10 border min-h-fit rounded bg-white lg:col-span-3 lg:h-[600px] lg:mt-0 lg:flex lg:flex-col ">
				<p class="text-sm gray font-semibold tracking-wide p-4 lg">MOST RECENT BLOGS</p>
				{recentBlogs.map(blog => {
					return(
						<>
							<div class="border-t-2 border-t-slate-200 mx-4"></div>	
							<Card data={blog} />							
						</>
					)
				})}
			</div>
		</section>
		<section class=`conatiner ruled-grid rounded  grid col-span-1 md:col-span-6 m-4 grid-cols-6 pt-8   ${remainingBlogs.length < 4  ? 'lg:grid-cols-6' : 'lg:grid-cols-8'}`>
			{remainingBlogs.map((blog, idx) => (
				<BottomCards length={remainingBlogs.length} idx={idx} data={blog} />
			))}
		</section>
		{data.layout && <Blocks data={data.layout} />}
	</main>
</Layout>

<style>
	.ruled-grid{
		gap: 2rem;
		overflow:hidden
	}

.gradient-bg {
  background: linear-gradient(to bottom, #040434, #024614);
}
.gray{
	color: #697793
}

	main {
		min-height: fit-content;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
