---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Blocks from '../blocks/Blocks.astro';
import { fetchPayloadData } from '../lib/payload';
import { fetchBlogs } from '../lib/fetchBlogs';
import Hero from '../components/Hero.astro';
import { fetchRecentBlogs } from '../lib/fetchRecentBlogs';
import FeaturedCard from '../components/FeaturedCard.astro'

const data = await fetchPayloadData();
const recentBlogs = await fetchRecentBlogs()
const blogs = await fetchBlogs()

---

<Layout title="Dev Blog h-dvh">
	<!-- placeholder navbar -->
	<div class="h-16 border-b-2">
		navbar
	</div>
	<main class=" grid grid-cols-1 md:grid-cols-6">
		<section class="containern min-h-fit gradient-bg md:col-span-6 p-4 md:px-16 lg:grid lg:grid-cols-6 lg:gap-6">
			<Hero heroHeading={data.heroHeading} heroSubHeading={data.heroSubHeading}/>
			<FeaturedCard featuredBlog={data.featuredBlog.slug} data={data.featuredBlog}/>
			<div class=" mt-10 border min-h-fit rounded bg-white lg:col-span-3 lg:h-[600px] lg:mt-0 lg:flex lg:flex-col ">
				<p class="text-sm gray font-semibold tracking-wide p-4 lg">MOST RECENT BLOGS</p>
				{recentBlogs.docs.map(blog => {
					return(
						<>
							<div class="border-t-2 border-t-slate-200 mx-4"></div>	
							<Card data={blog} />							
						</>
					)
	
				})}
			</div>
		</section>

		{data.layout && <Blocks data={data.layout} />}
		<!-- <section class="col-span-1 md:col-span-4 mt-10">
			{blogs.docs.map(blog => (
				<Card data={blog} />
			))}			
		</section> -->

	</main>
</Layout>

<style>

.gradient-bg {
  background: linear-gradient(to bottom, #040434, #024614);
}
.gray{
	color: #697793
}




	main {
		min-height: fit-content;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
