---
// Import Splide's CSS
import '@splidejs/splide/dist/css/splide.min.css';

const { featured } = Astro.props;
function formatDate(str){
  const monthNames = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
  let date = new Date(str)
  let day = date.getDate();
  let month = monthNames[date.getMonth()];
  let year = date.getFullYear();

  return `${month} ${day}, ${year}`

}

    
---

  <h1>This is a carousel</h1>
  <div class="splide" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {featured.map(image => (
            <li style={`background-image: url(http://localhost:3000${image.image.url})`} class="splide__slide carousel-img">
              <h2 class="slide-title">{image.link.name}</h2>
              <p>{formatDate(image.link.createdAt)}</p>
                <a href={image.link.slug}>
                  <div class="border">
                      <div class="read-more-btn">Read More</div>                    
                    </div>
                </a>  
            </li>            
        ))}
      </ul>
    </div>
  </div>
  <script>
    import Splide from "@splidejs/splide";


    document.addEventListener("DOMContentLoaded", function () {
      new Splide(".splide", {
        type: "loop",
        perPage: 1  ,
        autoplay: true,
        arrows: false,
        classes: {
          pagination: 'no-bottom splide__pagination '
        }
      }).mount();
    });
    </script>

<style> 
a{
  text-decoration: none;
}
.border{
  border: 1px solid #1A73E8
}
.read-more-btn{
  margin: .1rem;
  background-color: #1A73E8;
  color: black;
  padding: 0 .5rem;

}
.slide-title{
  color: white;
  text-decoration: none;
}
.carousel-img{
  margin: 0 auto;
  background-size: cover;
  width: 100%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-img > * {
  position: relative;
  z-index: 2; 
}
.splide__slide{
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
}
  .splide__slide img {
    width: 100%;
    height: auto;
    max-height: 500px
  }

  @media screen and (min-width: 600px) {
    .carousel-img{
      max-height: 400px;
    }
}
</style>

