---
// Import Splide's CSS
import '@splidejs/splide/dist/css/splide.min.css';
import formatDate from '../lib/formatDate'

const { featured } = Astro.props;


    
---

  <div class="splide col-span-6 my-4" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {featured.map(image => (
            <li style={`background-image: url(${import.meta.env.IMAGE_BASE_URL}${image.image.url})`} class="splide__slide carousel-img">
              <h2 class="slide-title">{image.link.name}</h2>
              <p>{formatDate(image.link.createdAt)}</p>
                <a href={image.link.slug}>
                  <div class="blue-border">
                      <div class="read-more-btn">Read More</div>                    
                    </div>
                </a>  
            </li>            
        ))}
      </ul>
    </div>
  </div>
  <script>
    import Splide from "@splidejs/splide";


    document.addEventListener("DOMContentLoaded", function () {
      new Splide(".splide", {
        type: "loop",
        perPage: 1  ,
        autoplay: true,
        arrows: false,
        classes: {
          pagination: 'no-bottom splide__pagination '
        }
      }).mount();
    });
    </script>

<style> 
a{
  text-decoration: none;
}
.slide-title{
  color: white;
  text-decoration: none;
}
.carousel-img{
  margin: 0 auto;
  background-size: cover;
  width: 100%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-img > * {
  position: relative;
  z-index: 2; 
}
.splide__slide{
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
}
  .splide__slide img {
    width: 100%;
    height: auto;
    max-height: 500px
  }

  @media screen and (min-width: 600px) {
    .carousel-img{
      max-height: 400px;
    }
}
</style>

