---
  const {  featuredBlog } = Astro.props;
  const richText = featuredBlog.layout.find(block => block.blockType === 'RichText');
  let excerpt = richText.richText_html?.split(/\s+/).slice(1, 20).join(' ')
  const layoutArray = [...featuredBlog.layout]
  const layoutObject = {};
  import formatDate from "../lib/formatDate";

layoutArray.forEach(item => {
  const { blockType, ...rest } = item; 
  layoutObject[blockType] = rest;
});
console.log(featuredBlog.tags)
// causing typescript error but it stillw orks. Might need to rework this later
const imageUrl = layoutObject.image.image.url ? `http://localhost:3000${layoutObject.image.image.url}` : '';





---
<div class="m-4 border min-h-fit p-4 rounded bg-white min-h-fit">
  <div class="max-h-[200px] overflow-hidden flex items-center justify-center rounded">
    <img class="object-cover h-full w-full" src={imageUrl} alt="">
  </div>
    <p class="text-sm dateGray pb-2 pt-4">
    {formatDate(featuredBlog.createdAt)}      
    </p>
    <h2 class="font-semibold text-base tracking-wide">{featuredBlog.name}</h2>
    <p class="darkerGray font-thin tracking-wide text-sm py-4">{excerpt}...</p>
    <div class="flex">
    {featuredBlog.tags && featuredBlog.tags.map(tag => (
      <p class="text-sm m-1 bg-gray-200 px-2 py-1 rounded">{tag.tag}</p>
    ))}      
    </div>


</div>

<style>
  h2{
    color: #00162b;
  }
  .dateGray{
    color: #8897b3
  }
  .darkerGray{
    color: #42536d
  }
</style>