---
import Blog from "../pages/blog.astro";
import formatDate from "../lib/formatDate";

const { featuredBlog, data } = Astro.props;
const imageBlock = data.layout.find(block => block.blockType === 'image');
const richText = data.layout.find(block => block.blockType === 'RichText');
const image = imageBlock ? imageBlock.image.url : '';
let excerpt

if(richText){
	excerpt = richText.richText_html?.split(/\s+/).slice(1, 15).join(' ')
}

---

<div class="min-h-fit  p-4 rounded bg-[#f2f2f2] lg:col-span-3 lg:h-[600px] lg:flex lg:flex-col lg:justify-between">
  <a href=`${import.meta.env.FRONTEND_URL}/blogs/${featuredBlog}`>

  <div class="max-h-[200px] md:max-h-[400px] overflow-hidden flex items-center justify-center rounded ">
    <img class="object-cover h-full w-full" src=`${import.meta.env.CMS_BASE_URL}${data.heroImage.url}` alt="">
  </div>
    <p class="text-sm dateGray pb-2 pt-4">
    {formatDate(data.createdAt)}      
    </p>
    <h2 class="font-semibold text-base tracking-wide">{data.name}</h2>
    <p class="darkerGray font-thin tracking-wide text-sm py-4">{excerpt}...</p>
    <div class="flex">
    {data.tags && data.tags.map(tag => (
      <p class="text-sm m-1 bg-gray-200 px-2 py-1 rounded">{tag.tag}</p>
    ))}      
    </div>

  </a>

</div>
<style>
	.tag{
		font-weight: lighter;
		position: relative;
		padding-left: 1rem;
	}
	.tag::before{
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: blue;
		position: absolute;
		left: 0px;
		top: 50%;
		margin-top: -2px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.created-at::before{
		content: '';
		width: 5px;
		height: 5px;
		background-color: #FF6071;
		position: absolute;
		left: 0px;
		top: 50%;
		margin-top: -2px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.created-at{
		color: #DADEED;
		position: relative;
		padding-left: 1rem;

	}
	.excerpt{
		color: #DADEED;
		line-height: 150%;
	}
	h3{
		margin: 1rem;
	}
	.wrapper *{
		text-decoration:none;
	}
	.card-img{
		border-radius: 7px 7px 0 0 ;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.link-card {

  border: 1px solid #4CAF50;
		margin-top: 2rem;
		width: 100%;
		list-style: none;
		background-color: #23262d;
		background-image: none;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	 .link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}

</style>
