---
import Blocks from "../../blocks/Blocks.astro"
import Layout from "../../layouts/Layout.astro"
import formatDate from "../../lib/formatDate"
export const fetchData = async () => {
  try{
    const response = await fetch(`${import.meta.env.CMS_BASE_URL}/api/blogs/`)
    const data = await response.json()
    return data.docs
  }catch{
    console.log('error')
  }
}

export const getStaticPaths = async () => {
  const data = await fetchData();
  if(data){
  const paths = data.map(page => ({
    params: { slug: page.slug },
    props: { layout: page.layout, page: page },
  })); 

  return paths;     
  }


};

const { slug } = Astro.params;
const { layout, page } = Astro.props;

---

<Layout title="Dev Blog">
<main class="gradient-bg min-h-dvh flex flex-col items-center p-4 md:px-16 pt-24">
  <div class="container bg-[#f2f2f2] p-4 flex flex-col items-center ">
    <div class="max-w-[1200px] items-center flex flex-col w-full">
      {page.heroImage.url && (<img class="h-[300px] w-full max-w-[1200px]" src={`${page.heroImage.url}`} alt=""/>)}
      
      <div class="flex self-start pt-4">
        {page.tags.length && page.tags.map((tag) => (
          <p class="text-sm m-1 bg-gray-200 px-2 py-1 rounded ">{tag.tag}</p>      
        )
        )}
      </div>
      <span class="self-start pt-8 lg:text-xl text-gray-400 font-semibold">{formatDate(page.createdAt)}  </span>
      <h1 class="text-2xl font-semibold my-16">{page.name}</h1>
      <div class="container flex flex-col items-center lg:px-32">
        <Blocks data={layout} /> 
      </div>   
    </div>
  </div>

</main>
</Layout>


<style>
  img{
    object-fit: cover;
  }

.gradient-bg {
  background: linear-gradient(to bottom, #1f2937, #040434);
}
</style>

